@import url('./table.css');


body {
    --font-adaptive-normal: 18px;
    --line-height: 1.65;
    --file-line-width: 900px;
    --line-width-adaptive: 60rem;


    /* 标题的颜色 */
    --font-text-theme: TT2020Base, LXGW WenKai Screen, serif;
    /* 正文字体 */
    --font-interface-theme: TT2020Base;
    /* UI字体 */
    --font-monospace-theme: Fira Code;
    /* 代码块字体 */
}

.theme-dark {
    --bold-color: rgb(255, 255, 255);
    --italic-color: #62db86;
    --highlight-font-color: black;
    --highlight-code-color: blue;
}

.theme-light {
    --bold-color: rgb(0, 0, 0);
    --italic-color: #699777;
    --highlight-font-color: black;
    --highlight-code-color: blue;
}





/* # 高亮的颜色 */
/* 参考css样式：https://stackoverflow.com/a/62484130 */
.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight,
.markdown-preview-view :not(em)>mark {
    color: var(--highlight-font-color);
    background-color: rgb(255, 255, 0) !important;
    padding-top: 0px;
    padding-right: 3px;
    padding-bottom: 0px;
    padding-left: 3px;

    font-weight: bolder;
    background: linear-gradient(104deg, rgba(130, 255, 173, 0) 0.9%, rgba(130, 255, 173, 1.25) 2.4%, rgba(130, 255, 173, 0.5) 5.8%, rgba(130, 255, 173, 0.1) 93%, rgba(130, 255, 173, 0.7) 96%, rgba(130, 255, 1732, 0) 98%), linear-gradient(183deg, rgba(130, 255, 173, 0) 0%, rgba(130, 255, 173, 0.3) 7.9%, rgba(130, 255, 173, 0) 15%);
    padding: 3px 3.7px;
    -webkit-box-decoration-break: clone;
    margin: 0;
    border-radius: 3.5px;
}

/* ### 在高亮时，更改``包裹的文字颜色，并取消它的背景 */

mark code {
    background-color: transparent !important;
    color: var(--highlight-code-color) !important;
}



/* ----------------------02-代码块和公式---------------------- */
/* 添加左上角的图标 */
.theme-dark pre[class*="language-"],
.theme-light pre[class*="language-"] {
    background: var(--readingview-code-background);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDU0IDE0Ij48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEgMSkiPjxjaXJjbGUgY3g9IjYiIGN5PSI2IiByPSI2IiBmaWxsPSIjRkY1RjU2IiBzdHJva2U9IiNFMDQ0M0UiIHN0cm9rZS13aWR0aD0iLjUiPjwvY2lyY2xlPjxjaXJjbGUgY3g9IjI2IiBjeT0iNiIgcj0iNiIgZmlsbD0iI0ZGQkQyRSIgc3Ryb2tlPSIjREVBMTIzIiBzdHJva2Utd2lkdGg9Ii41Ij48L2NpcmNsZT48Y2lyY2xlIGN4PSI0NiIgY3k9IjYiIHI9IjYiIGZpbGw9IiMyN0M5M0YiIHN0cm9rZT0iIzFBQUIyOSIgc3Ryb2tlLXdpZHRoPSIuNSI+PC9jaXJjbGU+PC9nPjwvc3ZnPg==");
    background-position: 5px 5px;
    background-repeat: no-repeat;
    background-size: 35px;
    border: 1px solid #eee;
}

body {
    --code-font-size: 13px;
}

.theme-dark {
    --readingview-code-background: #161515;
    --math-color: #ec66aa;
}

.theme-light {
    --readingview-code-background: white;
    --math-color: #f13d64;
}

.theme-dark pre[class*="language-"] {
    box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.3),
        -1px -1px 2px 2px rgba(253, 253, 253, 0.3);
}

.theme-light pre[class*="language-"] {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1),
        -1px -1px 2px 2px rgba(0, 0, 0, 0.1);
}

.markdown-rendered pre code {
    background-color: transparent;
    padding: 12px 0px 0px 0px;
    margin-left: 0px;
    font-size: var(--code-font-size) !important;
}

/* 数据公式的颜色 */
.MJX-TEX {
    color: var(--math-color) !important;
}



/*  ---------------------------03-标题---------------------------  */


body {
    --header-font: 'SimHei', 'Times New Roman', Times, serif;
    --h1-font: var(--header-font);
    --h2-font: var(--header-font);
    --h3-font: var(--header-font);
    --h4-font: var(--header-font);
    --h5-font: var(--header-font);
    --h6-font: var(--header-font);
}

.theme-dark {
    --h1-color: #f90000;
    --h2-color: #077df2;
    --h3-color: #f15631;
    --h4-color: #1f56ff;
    --h5-color: #fe2470;
    --h6-color: #fdfdfd;
}

.theme-light {
    --h1-color: #000000;
    --h2-color: #2788e9;
    --h3-color: #f15631;
    --h4-color: #14359d;
    --h5-color: #fe2470;
    --h6-color: #000000;
}



/* 在标题下面添加横线
来自：
[subframe7536/obsidian-theme-maple: [Refactoring] An obsidian theme for desktop with graceful animation and awesome components](https://github.com/subframe7536/obsidian-theme-maple)
*/
/* h1 */
body.heading-h1-underline :is(h1, .HyperMD-header-1) {
    position: relative;
}

body.heading-h1-underline :is(h1, .HyperMD-header-1)::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -2px;
    border-radius: var(--size-2-1);
    background-image: linear-gradient(to right, var(--h1-color) 30%, transparent 70%);
    width: 600px;
}

body.heading-h1-underline h1::after {
    left: 0;
}

body.heading-h1-underline .HyperMD-header-1::after {
    left: var(--size-4-1);
}

body.heading-h1-underline .vertical-tab-content h1 {
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
}

body.heading-h1-underline.heading-underline-thin :is(h1, .HyperMD-header-1)::after {
    height: var(--size-2-1);
}


/* h2 */
body.heading-h2-underline :is(h2, .HyperMD-header-2) {
    position: relative;
}

body.heading-h2-underline :is(h2, .HyperMD-header-2)::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -2px;
    border-radius: var(--size-2-1);
    background-image: linear-gradient(to right, var(--h2-color) 30%, transparent 70%);
    width: 400px;
}

body.heading-h2-underline h2::after {
    left: 0;
}

body.heading-h2-underline .HyperMD-header-2::after {
    left: var(--size-4-1);
}

body.heading-h2-underline .vertical-tab-content h2 {
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
}

body.heading-h2-underline.heading-underline-thin :is(h2, .HyperMD-header-2)::after {
    height: var(--size-2-1);
}

/* h3 */
body.heading-h3-underline :is(h3, .HyperMD-header-3) {
    position: relative;
}

body.heading-h3-underline :is(h3, .HyperMD-header-3)::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -2px;
    border-radius: var(--size-2-1);
    background-image: linear-gradient(to right, var(--h3-color) 30%, transparent 70%);
    width: 200px;
}

body.heading-h3-underline h3::after {
    left: 0;
}

body.heading-h3-underline .HyperMD-header-3::after {
    left: var(--size-4-1);
}

body.heading-h3-underline .vertical-tab-content h3 {
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
}

body.heading-h3-underline.heading-underline-thin :is(h3, .HyperMD-header-3)::after {
    height: var(--size-2-1);
}



/*  ---------------------------04-块引用---------------------------  */

/* from https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/39 */
/* Add quotation character before quote */
blockquote:before {
    font: 14px/20px italic Times, serif;
    content: "“";
    font-size: 3em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}


.markdown-preview-view blockquote p:first-of-type::before {
    content: '“';
    font: 14px/20px italic Times, serif;
    font-weight: 700;
    font-size: 3em;
    color: var(--text-accent);
    position: absolute;
    top: 0.1rem;
    left: -1.8rem;
}


.signature {
    font-family: "SignPainter", "广告毛笔字体";
    text-align: right;
}

/* 设置 引用下的strong类型文字的颜色 */
blockquote strong {
    color: #e84140 !important;
}



/*  ---------------------------05-内部双链和外部链接---------------------------  */
.theme-dark {
    --external-link-color: #ff9f31dd;
    --internal-link-color: #5d94cadd;
}

.theme-light {
    --external-link-color: #ff9f31dd;
    --internal-link-color: #58a8fadd;
}

.is-live-preview .cm-line:not(.cm-active) .cm-hmd-internal-link,
.markdown-preview-view .internal-link,
.is-live-preview .cm-line:not(.cm-active) .cm-link,
.markdown-preview-view .external-link {
    border-radius: 4px;
    padding: 0 2px;
    /* border: 2px solid var(--c); */
    box-sizing: border-box;
    /* box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2705882353), -1px -1px 4px rgba(255, 255, 255, 0.2705882353); */
    background: conic-gradient(from -135deg at 100% 50%, var(--c) 90deg, rgba(0, 0, 0, 0) 0) -2px var(--p, 1%) / var(--s, 0%) 200% no-repeat,
        conic-gradient(from -135deg at 1.2em 50%, rgba(0, 0, 0, 0) 90deg, var(--c) 0) calc(100% + 2px) var(--p, 1%) / var(--s, 0%) 200% no-repeat !important;
    transition: 0.3s ease-in-out, background-position 0s, padding 0s,
        border-radius 0s, border 0s;
}

.is-live-preview .cm-line:not(.cm-active) .cm-hmd-internal-link:hover,
.markdown-preview-view .internal-link:hover,
.is-live-preview .cm-line:not(.cm-active) .cm-link:hover,
.markdown-preview-view .external-link:hover {
    --p: 96%;
    --s: calc(50% + 0.9em);
    color: var(--background-primary) !important;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2705882353),
        -3px -3px 6px rgba(255, 255, 255, 0.2705882353);
}

.cm-link,
.external-link {
    color: var(--external-link-color) !important;
}

.cm-link,
.cm-link .cm-underline,
.external-link,
.external-link .cm-underline {
    text-decoration: none !important;
}


/* must disable this to show note-toolbar */
/* span.external-link {
    display: none !important;
} */

.is-live-preview .cm-line:not(.cm-active) .cm-link,
.markdown-preview-view .external-link {
    --c: var(--external-link-color);
}

.cm-url,
.cm-hmd-internal-link,
.internal-link {
    color: var(--internal-link-color) !important;
}

.cm-url,
.cm-url .cm-underline,
.cm-hmd-internal-link,
.cm-hmd-internal-link .cm-underline,
.internal-link,
.internal-link .cm-underline {
    text-decoration: none !important;
}

.internal-link {
    padding: 0 4px;
}

.is-live-preview .cm-line:not(.cm-active) .cm-hmd-internal-link,
.markdown-preview-view .internal-link {
    --c: var(--internal-link-color);
}

.cm-formatting-link,
.cm-formatting-link-string,
.cm-formatting-image {
    font-weight: 700;
    margin: 0 2px;
    border: none !important;
    box-shadow: none !important;
}

.cm-formatting-link~.cm-hmd-internal-link,
.cm-formatting-link+.cm-link,
.cm-formatting-link-string~.cm-hmd-internal-link,
.cm-formatting-link-string+.cm-link,
.cm-formatting-image+.cm-hmd-internal-link,
.cm-formatting-image+.cm-link {
    box-shadow: none !important;
    border: none !important;
    background-color: transparent !important;
}





/* ----------------------07-图片---------------------- */

.image_hover img:hover {
    transform: scale(1.2);
}

.image_hover img {
    transform: scale(1.0);
    /* margin-top: -5pt; */
    /* margin-bottom: -5pt; */
    /* width: 50%; */
    transition: transform 0.25s ease;
}

.image_center img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.image_center .markdown-source-view.mod-cm6 .cm-content>img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}



/* 添加圆角 */
img {
    border-radius: var(--image-border-radius);
}

/* caption */
figcaption.obsidian-image-caption {
    text-align: center;
    padding-right: 0.05em;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #f55454;
    background-image: linear-gradient(120deg, #d373d0 0%, #cf08f2 80%);
    word-break: break-all;
    font-size: 12px;
}

/* Image caption */
.image-captions-figure {
    border-radius: var(--image-border-radius);
    margin-left: auto !important;
    margin-right: auto !important;
}

.image-captions-caption {
    text-align: center;
    padding-right: 0.05em;
    word-break: break-all;
    font-size: 12px;
    color: #cf08f2;
}

/* Image: display two iamges in one row  */
.image-row-2 {
    display: flex;
    margin: auto !important;
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
}

/* ----------------------08-卡片---------------------- */

.theme-dark {
    --card-bg-color: rgb(92, 82, 109);
    --card-title-color: rgb(255, 253, 253);
    --card-font-color: rgb(255, 255, 255);
    --card-sep-line-color: rgba(233, 118, 118, 0.126);
}
.theme-light {
    --card-bg-color: rgb(130, 227, 232);
    --card-title-color: rgb(0, 0, 0);
    --card-font-color: rgb(253, 0, 0);
    --card-sep-line-color: rgba(231, 9, 9, 0.126);
}

.flipcard-display-flex {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* 设置子元素多行显示 */
    justify-content: center;
    /* 水平居中 */
    align-items: left;
    /* 垂直居中 */
}


img.top-section-img:hover {
    transform: none;
}

.flipcard-display-flex .obsidian-image-caption {
    display: none;
}

.card {
    flex: 0 20 190px;
    width: 200px !important;
    border-radius: 10px;
    background: var(--card-bg-color);
    padding: 5px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.05);
    background: linear-gradient(90deg, #03a9fa, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    z-index: 1;
    animation: glow 8s linear infinite;
}

@keyframes glow {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.card .top-section {
    height: 150px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
    position: relative;
}

.card .top-section-img {
    height: 150px;
    display: flex;
}


.card .bottom-section {
    margin-top: 15px;
    padding: 10px 5px;
}

.card .bottom-section .title a {
    display: block;
    font-size: 17px;
    font-weight: bolder;
    color: var(--card-title-color);
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
}

.card .bottom-section .row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card .bottom-section .row .item {
    flex: 30%;
    text-align: center;
    padding: 5px;
    color: rgba(170, 222, 243, 0.721);
}

/* 底部数字 */
.card .bottom-section .row .item .big-text {
    font-size: 12px;
    display: block;
    color: var(--card-font-color);
}

/* 底部小标题 */
.card .bottom-section .row .item .regular-text {
    font-size: 9px;
    color: var(--card-font-color);
}
/* 底部分割线 */
.card .bottom-section .row .item:nth-child(2) {
    border-left: 1px solid var(--card-sep-line-color);
    border-right: 1px solid var(--card-sep-line-color);
}






/* @settings

name: 【AY's theme】
id: ay-2022-11-03-20-27
settings:
    - 
        id: 2-links
        title: 02-内部双链与外部链接
        type: heading
        collapsed: true
        level: 1
    - 
        id: internal-link-color
        title: 内部双链颜色
        type: variable-color
        format: hex
        opacity: false
        default: '#5d94cadd'
    - 
        id: external-link-color
        title: 外部链接颜色
        type: variable-color
        format: hex
        opacity: false
        default: '#ff9f31dd'

    - 
        id: 3-titles
        title: 03-6级标题
        type: heading
        collapsed: true
        level: 1
    -
        id: heading-underline
        title: heading underline
        description: with line-gredient
        title.zh: 标题下划线
        description.zh: 渐变色
        type: heading
        collapsed: true
        level: 2
    -
        id: heading-h1-underline
        title: add underline for h1
        title.zh: 添加 h1 下划线
        type: class-toggle
    -
        id: heading-h2-underline
        title: add underline for h2
        title.zh: 添加 h2 下划线
        type: class-toggle
        default: true
    -
        id: heading-h3-underline
        title: add underline for h3
        title.zh: 添加 h3 下划线
        type: class-toggle


    - 
        id: 0-image
        title: 00-图片
        type: heading
        collapsed: true
        level: 1
    -
        id: image_center
        title: float image to center of the line
        title.zh: 图片居中表示
        type: class-toggle
        default: true
    -
        id: image_hover
        title: hover and enlarge the image
        title.zh: 图片悬浮变大
        type: class-toggle
        default: true
    - 
        id: image-border-radius
        title: 图像圆角大小（px）
        type: variable-number
        default: 8
        format: px



*/